@model TotalSquash.Models.User

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.wins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.losses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.losses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ties)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ties)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.streetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.streetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.birthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.birthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.locked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.locked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountType.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountType.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country.countryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country.countryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Province.provinceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Province.provinceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Skill.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Skill.description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
